# NOTE: Services (elasticsearch/kibana/logstash) will be added in separate feature branches.
name: elk
services:
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
        # depends_on:
        # - elasticsearch
    networks:
      - elk

volumes:
  esdata:

networks:
  elk:
